[submodule "olympus/environments/raynet/sim/omnetpp"]
	path = olympus/environments/raynet/sim/omnetpp
	url = https://github.com/omnetpp/omnetpp.git
	ignore = dirty
[submodule "olympus/environments/raynet/sim/raynet"]
	path = olympus/environments/raynet/sim/raynet
	url = https://github.com/CJUKnowles/raynet.git
	ignore = dirty
